<div class="col-md-6">
  <h2 class="text-center">Add Address</h2>
  <button class="btn-default" (click)="navigateToListView()">Back to List View</button>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group required">
      <label class="control-label" for="emailId">Email address:</label>
      <input type="emailId" formControlName="emailId" placeholder="Email" name="emailId" class="form-control" id="emailId" required>
    </div>

    <div class="form-group required">
      <label class="control-label" for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName" required>
    </div>

    <div class="form-group required">
      <label class="control-label" for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName" required>
    </div>

    <div class="form-group">
      <label for="workPhone">Work Phone:</label>
      <input formControlName="workPhone" placeholder="Work Phone" name="workPhone" class="form-control" id="workPhone">
    </div>

    <div class="form-group">
      <label for="cellPhone">Cell Phone:</label>
      <input formControlName="cellPhone" placeholder="Cell Phone" name="cellPhone" class="form-control" id="cellPhone">
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date of Birth:</label>
      <input formControlName="dateOfBirth" placeholder="dateOfBirth" name="dateOfBirth" class="form-control" id="dateOfBirth">
    </div>

    <div class="form-group">
      <label for="street">Street:</label>
      <input formControlName="street" placeholder="street" name="street" class="form-control" id="street">
    </div>

    <div class="form-group">
      <label for="city">City:</label>
      <input formControlName="city" placeholder="city" name="city" class="form-control" id="city">
    </div>

    <div class="form-group">
      <label for="state">State:</label>
      <input formControlName="state" placeholder="state" name="state" class="form-control" id="state">
    </div>

    <div class="form-group">
      <label for="zipCode">Zip Code:</label>
      <input formControlName="zipCode" placeholder="zipCode" name="zipCode" class="form-control" id="zipCode">
    </div>



    <button class="btn btn-success">Add</button>
  </form>
</div>
